/* Layout Set-up */

h1 {
  color: #434241;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}
h3 {
  color: #434241;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  padding-top: 5%;

}
p {
  color: #434241;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  padding-bottom: 5%;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 13px solid #F3F3F3;
  background-color: #FBFAFA;
  max-width: 100%
  display:block;
  text-align: center;
}

ul li {
  padding: 10px 18px;
  border-bottom: 5px solid #F3F3F3;
}

ul li:last-child {
  border border-bottom: none;
}


img {
  max-width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-navigate {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}


/* --- Layout Containers   ---- */

.profile-image {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container1 {
    margin: 0 auto;
    padding: 1em 0;
    background-color: #F3F3F3;
    /* display: inline-block; */
}


.main-footer {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  background-color: #F3F3F3;
  margin: 0 auto;
  padding: 1em 0;
}

.name {
  margin: 0;
}

.PORTFOLIO-HEADING {
  padding-bottom: 5%;
}

h4 {
  float: left;
  width: 50%;
  background-color: #F3F3F3;
  margin: 0 auto;
  padding: 2em 0;
}

.footer_line {
  border: solid thin #C6C2C1;
  margin-left: 5%;
  margin-right: 5%;

}

/*--- Unvisted link --- */
a:link {
  color: #434241;
  text-decoration: none;
}

/* --- vistied link --- */
a:visited {
  color: lightblue;
}

/*--- mouse over link --- */
a:hover {
  color: darkgray;
}


/*--- Remove default margin.--- */

body {
  margin: 0;
}

.main-content2 {
  text-align:center;
  margin: 5%;
}


/* For tablets: */
/* @media tablet {
  header {
    min-width: 768px;
  }

} */

/* For desktop phones: */
@media screen and (min-width: 1024px) {

  .col-2 {
    width: 100%;
  }

  .header-div {
    width: 50%;
    margin-left: 2%;
  }

    ul, li {
      list-style-type: none;
      margin: 0;
      border: 10px;
      float:right;
      /* padding: 5 5 5 15px; */
      background-color: #F3F3F3;
      display:inline-flex;
    }
    .name {
      float: left;
      margin-left: 5%;

    }
   * {
      box-sizing: border-box;
    }

   .pic {
     display: flex;
   }

    .profile-image-container {
      /* display: flex; */
    width: 50%;
    position: relative;
    /* left: 70%; */

    }

    .profile-image {
      /* max-width: 27%;
      padding-top: 3%;
      position: relative;
      left: 30%;
      margin-top: 3%;
      margin-right: 5%; */

      position: relative;
      left: 35%;
      /* margin-top: 15%; */
      margin-left: 5px;
      padding: 5px;
      width: 55%;

    }



    .main-content1-container {
      width: 100%;
      /* text-align: left; */
      margin-top: 5%;
      margin-left: 2%;
      padding: 0 10px;
      display: flex;

    }

    .main-content1 {
      text-align: left;

    }

    .text-container {
      width: 50%;
    }

    .row1 {
      display:flex;
    }
    .column {
      flex: 33.33%;
      padding: 5px;
      margin-left: 5px;
    }
    .row2 {
      display: flex;
    }
    .column2 {
      flex: 33.33%;
      padding: 5px;
      margin-left: 5px;
    }
}



/* @media only screen and (min-width: 768px) { */
  /* For desktop: */
/* }
.col-2 {width: 20%;}
} */
